PORT=3001
# DB_HOST=localhost
# DB_PORT=5432
# DB_USER=learnit_user
# DB_PASSWORD=create_a_strong_password
# DB_NAME=learnit

SESSION_SECRET=randomly_generated_secret_key_here
NODE_ENV=development
CORS="*"